/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;600;700&display=swap');

/* CSS VAR() colors*/

:root {
    --first-color: hsla(115, 59%, 53%, 0.801);
    --title-color: hsla(0, 0%, 0%);
    --text-color: hsla(0, 0%, 30%);
    --body-color: hsla(0, 0%, 100%);
    --container-color: hsl(0, 0%, 95%);
    --border-color: hsla(120, 0%, 44%, 0.952);
    --text-white: #fff;

    --body-font: 'Montserrat', monospace;
    --second-font: 'Roboto Slab', arial;

    /* CSS VAR() font-size */

    --big-font-size: 3.5rem;
    --h1-font-size: 3.125rem;
    --h2-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.9375rem;
    --smaller-font-size: 0.875rem;
    --tiny-font-size: 0.75rem;



    /* CSS VAR() font-weight */
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;
}

.dark-theme {
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 80%);
    --body-color: hsl(0, 0%, 7%);
    --container-color: hsl(0, 1%, 17%);
    --border-color: hsl(0, 0%, 15%, );
}

@media screen and (max-width: 1200px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --large-font-size: 1rem;
        --normal-font-size: 0.9375rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.8125rem;
        --tiny-font-size: 0.75rem;
    }
}

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS GLOBAL */

body,
input,
textarea {
    font-family: var(--body--font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--weight-700);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


button,
input,
textarea {
    background-color: transparent;
    border: none;
    outline: none;
}


/* CSS GLOBAL CLASSES */

.grid {
    display: grid;
    gap: 30px;
}

.container {
    max-width: 1100px;
    margin-inline: auto !important;
    padding-inline: 15px;
}

.section__title {
    font-size: var(--big-font-size);
    font-weight: var(--weight-800);
    text-align: center;
    margin-bottom: 70px;

}

.section {
    padding: 70px 0;
}

.section__title span {
    color: var(--first-color);
}

.button {
    display: inline-block;
    color: var(--title-color);
    border: 1px solid var(--first-color);
    padding: 15px 70px 15px 35px;
    border-radius: 35px;
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    font-family: var(--second-font);
    position: relative;
    overflow: hidden;
    transition: all .25s ease-in-out;
}

.button:hover {
    color: var(--text-white);
}

.button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--first-color);
    transform: translateZ(0) translateX(-100%);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.button:hover::before {
    transform: translateX(0);

}

.button__icon {
    background-color: var(--first-color);
    position: absolute;
    inset-block: -2px;
    right: 0;
    width: 55px;
    border-radius: 50%;
    color: var(--text-white);
    font-size: var(--large-font-size);
    text-align: center;
    line-height: 60px;
}